html,body{
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
}
.store{
    width:30px;
    height:30px;
}
.container{
    min-height:100vh;
    position:relative;
    background-color:#e6e6e6;
}
/* .header{
    padding:10px;
    background-color:#262626;
} */
.header{
    padding:10px;
    padding-bottom:15vh;   /* Height of the footer */
    background-color:#262626;
}
.footer{
    position:fixed;
    bottom:0;
    width:100vw;
    height:20vh;   /* Height of the footer */
    background:black;
}